MY_DB_ENGINE=django.db.backends.postgresql # команда что используем Postgresql
MY_DB_NAME=postgres # имя БД
MY_POSTGRES_USER=postgres # user БД
MY_POSTGRES_PASSWORD=postgres # пароль БД
MY_DB_HOST=db
MY_DB_PORT=5432 # порт БД